extends layout
block title
  title Bong99 | Contect
block main
  .container_12
    .contact-page
      h3.title Liên Hệ
      .content-contact-page
        .grid_5.contact-map
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3529.205880688376!2d-82.72818199999999!3d27.803433!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2e3361930008d%3A0x9fbfc16c71a1ee26!2s3401+66th+St+N%2C+St+Petersburg%2C+FL+33710%2C+USA!5e0!3m2!1sen!2s!4v1422862122739" width="600" height="450" frameborder="0" style="border:0"></iframe>
        .grid_7.contact-content
          figure#logo
            img(src='images/logo.png' width='216' height='56' alt='bong99')
          p Chúng tôi làm việc từ 6h sáng đến 3h sáng hôm sau từ thứ 2 đến chủ nhật kể cả ngày lễ
          .company-address
            label Địa chỉ công ty
            p St. Petersburg Woman’s Health Clinic
            p 3401 66th Street North - St. Peterburg, FL 33710
          .social
            div
              .iconsp-large-phone
              span 0984.899.899
            div
              .iconsp-large-phone-2
              span 0983.444.222
            div
              .iconsp-large-facebook
              span facebook.com/mitbet
            div
              .iconsp-large-viber
              span 0984.899.899
            div
              .iconsp-large-zalo
              span Mitbet Pro 2014
            div
              .iconsp-large-yahoo
              span bong99.hotro
            div
              .iconsp-large-skype
              span bong99.com
            div
              .iconsp-large-wechat
              span Mitbet Pro 2014
            div
              .iconsp-large-email
              span bong99.com@gmail.com
        .clearfix