extends layout
block title
  title Bong99 | Home


block main
  .container_12.sport_page
    .grid_12
      figure.banner_header
        a(href='#'): img(src='images/bong-banner-sport.jpg' width='' height='303' alt='bong99')
    .grid_10.sport_left
      a(href='#'): img(src='images/bong-banner-sport-2.jpg' width='' height='290' alt='bong99')
      .credit-paid
        ul
          li
            i.list-custom
            | 10,000 vnđ 1 credit hoa hồng nhân 2
          li
            i.list-custom
            | 15,000 vnđ 1 credit hoa hồng nhân 3
        ul
          li
            i.list-custom
            | 20,000 vnđ 1 credit hoa hồng nhân 4

          li
            i.list-custom
            | 25,000 vnđ 1 credit hoa hồng nhân 5
        .require
          span *** yêu cầu phải có 3 member trở lên
    .grid_2
      .sport_right
        a(href='#'): img(src='images/banner-left-1.jpg' width='' height='110' alt='bong99')
        a(href='#'): img(src='images/banner-left-2.jpg' width='' height='110' alt='bong99')
        a(href='#'): img(src='images/banner-left-3.jpg' width='' height='110' alt='bong99')
        a(href='#'): img(src='images/banner-left-4.jpg' width='' height='110' alt='bong99')
    .clearfix
