extends layout
block title
  title Bong99 | Help

block main
  .container_12
    .help-page
      .grid_3.help-left
        section#help-menu
          ul.help-menu
            li: a(href=''): span.icon-input
              i.iconsp-guid-res
              | Hướng dẫn đăng ký
            li: a(href='widthraw-money.html'): span.icon-input
              i.iconsp-guid-paid
              | Nạp tiền, rút tiền
            li: a(href='account_info.html'): span.icon-input
              i.iconsp-guid-account
              | Quản lý tài khoản
            li: a(href=''): span.icon-input
              i.iconsp-guid-walk
              | Vượt tường lửa
      .grid_9.help-right
        h3.title Hướng dẫn đăng ký
        h4.title-help Về Chúng tôi
        p 388bet là một thương hiệu giải trí trực tuyến, tập trung chủ yếu vào việc cung cấp sản phẩm trò chơi cá cược casino và dịch vụ thi trường Châu Á Thái Bình Dương. Tại 388bet, chúng tôi có cái nhìn đơn giản để cung cấp cho khách hàng với trò chơi cá cược giải trí chất lượng cao và giá trị đặt biệt tốt. Chúng tôi cam kết cung cấp cho quý khách các sản phẩm trò chơi cá cược hàng đầu của ngành giải trí . Các sản phẩm của chúng tôi cùng với các chương trình khuyến mãi cạnh tranh nhất và các nhân viên hỗ trợ, bằng cách chơi tại 388bet thì bạn được đảm bảo có được một trải nghiệm chơi tốt nhất. Với số nhân viên hơn cả trăm, chúng tôi hướng tới việc thu hút mọi thành phần khách hàng với việc cung cấp một trải nghiệm trò chơi cá cược casino trực tuyến chất lượng cao với nhiều ngành giải trí hàng đầu, trò chơi hoàn hảo, đẹp mắt, và đồ họa có chủ đề phong phú.
        h4.title-help Các loại sản phẩm
        p 388bet đã có được danh tiếng như là một trong những trang web giải trí trực tuyến hàng đầu bẳng cách cam kết cung cấp cho khách hàng sản phẩm đầy tinh tế, nhìn và cảm nhận. Cho dù đó là Baccarat trực tuyến, Roulette hay Tài Xỉu mà bạn ưu thích, thì tại đây Quý Khách sẽ tìm thấy tất cả trong một nền tảng chơi cao cấp với đồ họa tuyệt vời, hình ảnh sống động, điều chỉnh tốc độ choi-game và hiệu ứng âm thanh. Bộ casino trực tuyến này có thêm các trò chơi máy trực tuyến ngày càng phổ biến, và giải đặt biệt cộng dồn, cung cấp cho khách hàng rất nhiều cơ hội để trúng giải thưởng tiền mặt lớn.
        h4.title-help Chăm sóc khách hàng tận tình
        p Phục vụ 24/24, 7 ngày một tuần, Dịch vụ chăm sóc khách hàng của chúng tôi phục vụ quý khách mọi lúc - để giúp quý khách giải đáp các thắc mắc và giải quyết vấn đề của quý khách nhanh chóng, lịch sử và hiểu quả cao nhất có thể. Chúng tôi tập trung vào nhu cầu của khách hàng 388bet với phương châm giữ vững các nguyên tắc dịch vụ cốt lõi của chúng tôi:
        p Khách hàng luôn luôn là trên hết
        p Sự hài lòng của bạn là thành công của chúng tôi
        p Chúng tôi luôn phấn đấu để vượt qua mong đơi của quý khách
        p Bảo mật và hệ thống an ninh
        p Theo quy định, mỗi khách hàng chỉ được phép sở hữu một tài khoản 388bet. Để duy trì sự ổn định và sự công bằng của hệ thống, chúng tôi sẽ tiến hành kiểm tra an ninh thường xuyên để bảo vệ khách hàng. Chúng tôi sử dụng phần mềm tiên tiến nhất để đảm bảo sự công bằng của trò chơi. Chúng tôi sử dụng các biện pháp bảo mật tiên tiến và giám sát 24 giờ để đảm bảo an toàn và an ninh cho trò chơi
        p Tất cả mọi người đều là người chiến thắng tại 388bet casino và chúng tôi mong được chào đón quý khách trên bảng để thưởng thức một trải nghiệm của trò chơi chất lượng vượt trội.
  .clearfix