.page {
  h3.title {
    text-transform: uppercase;
    color: #000;
    text-align: center;
  }
  .line {
    border-bottom: 3px solid #cccccc;
    margin: 10px 0;
    display: block;
    width: 100%;
    border-top: 1px solid #cfcfcf;
  }
  p {
    margin: 12px 0;
  }
  .k-widget {
    width: 100%;
    span.k-dropdown-wrap {
      background: #fff;
      height: 30px;
      text-transform: uppercase;
      text-align: left;
    }
  }
}
.about-page {
  img {
    width: 100%;
  }
  .about-content {
    padding: 12px;
    color: #686868;
    font-size: 14px;
    line-height: 21px;
  }
}
.footer-2 {
  .content {
    a.btn {
      padding: 8px 20px;
    }
    ul {
      li {
        display: inline-block;
        padding: 10px 5px 0 5px;
      }
    }
  }
}
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list>.k-state-selected, .k-list>.k-state-highlight, .k-panel>.k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
  background-color: #e74c3c;
}
.k-list {
  background-color: #fff;
}