.direct-page {
  img {
    width: 100%;
  }
  .direct-content {
    position: relative;
    ul {
      position: absolute;
      text-align: center;
      width: 100%;
      top: 30%;
      li {
        display: inline-block;
        width: 46%;
        a {
          width: 96%;
          display: inline-block;
          padding: 12px 0;
          font-size: 14px;
        }
      }
    }
  }
}
.direct-footer {
  background: $orange;
  margin-top: -3px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  a {
    font-size: 16px;
  }
}