#header {
  background-color: #222e39;
  padding: 13px 13px 0px 13px;
  position: relative;
  #logo {
    display: inline-block;
    img {
      width: 120px;
    }
  }
  #livechat {
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 12px;
    background-color: #34495e;
    border-radius: 6px;
    color: #fff;
    position: absolute;
    right: 12px;
    top: 8px;
    span {
      margin-left: 8px;
      color: #fff;
      font-size: 11px;
    }
    i {
      position: relative;
      top: 3px;
    }
  }
}
