.sport-page {
  .sport-description {
    background-color: #34495e;
    font-size: 12px;
    padding: 5px 8px;
    a {
      font-size: 12px;
    }
  }
  .sport-content {
    padding: 12px;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    height: 500px;
    iframe#iframe {
      width: 100%;
      height: 100%;
    }
  }
}