extends layout
block title
  title Bong99 | About
block main
  .container.about-page.page
    .about-content
      h3.title Về chúng tôi
      .line
      p MiBet Kh & Vn nhà phân phối ibet888, bong88, SBO cấp cao nhất tại Cambodia và Việt Nam. Quản lý trang cá cược
      p Đặt cược bằng điểm, không trực tiếp bằng VND. Giá quy đổi linh động từ 20-100K VND cho mỗi điểm.
      img(src='images/about-1.jpg' width='' height='' alt='bong99')
      img(src='images/about-2.jpg' width='' height='' alt='bong99')
      p MiBet sử dụng tài khoản ngân hàng giao dịch trung gian là tài khoản buôn bán các loại hàng hoá, giao dịch thương mại nên đảm bảo tính hợp pháp của dòng tiền 100%. Rút nạp cực nhanh 2 phút, thủ tục đơn giản 1 bước.
      p Hệ thống sử dụng kỹ thuật mã hoá của Symantec với SSL và đám mây Cloudflare đảm bảo thông tin. Dữ liệu cá cược, thông tin cá nhân bảo mật tuyệt đối.