extends layout
block title
  title Bong99 | Agent
block main
  .container
    .agent-page
      img(src='images/agent-1.png' width='' height='' alt='bong99')
      img(src='images/agent-2.png' width='' height='' alt='bong99')
      ul.commission-list
        li
          i.iconsp-medium-ellipse
          span 10,000 VNĐ 1 credit hoa hồng nhân 2
        li
          i.iconsp-medium-ellipse
          span 15,000 VNĐ 1 credit hoa hồng nhân 3
        li
          i.iconsp-medium-ellipse
          span 20,000 VNĐ 1 credit hoa hồng nhân 4
        li
          i.iconsp-medium-ellipse
          span 25,000 VNĐ 1 credit hoa hồng nhân 5
        li
          i
          span.orange *** yêu cầu phải có 3 member trở lên
