extends layout
block title
  title Bong99 | Casino
block main
  .container.casino-page.page
    .casino-content
      .background
        img(src='images/casino-background.png' width='' height='426' alt='bong99')
        a(href="")
          img(src='images/btn-play.png' width='' height='45' alt='bong99')
        a(href="")
          img(src='images/btn-download.png' width='' height='45' alt='bong99')
      #tabs
        ul
          li
            .table-cell
              a(href="#tabs-1") American Roulette
          li
            .table-cell
              a(href="#tabs-2") Blackjack Champion
          li
            .table-cell
              a(href="#tabs-3") Baccarat
          li
            .table-cell
              a(href="#tabs-4") Jack or Better
        #tabs-1
          .content
            .play-now
              img(src='images/casino-1.png' width='' height='152' alt='bong99')
              a(href=""): img(src='images/btn-play-2.png' width='' height='54' alt='bong99')
            ul.casino-bxslider.casino-bxslider-1
              li
                img(src='images/slider-1.png' width='' height='847' alt='bong99' title="Slider 1")
              li
                img(src='images/slider-2.png' width='' height='847' alt='bong99' title="Slider 2")
            .description
              h3.title Mô tả trò chơi
              .line
              p Roulette is a casino game named after a French diminutive for little wheel. In the game, players may choose to place bets on either a single number or a range of numbers, the colors red or black, or whether the number is odd or even.
        #tabs-2
          .content
            .play-now
              img(src='images/casino-2.png' width='' height='152' alt='bong99')
              a(href=""): img(src='images/btn-play-2.png' width='54' height='' alt='bong99')
            ul.casino-bxslider.casino-bxslider-2
              li
                img(src='images/slider-1.png' width='' height='847' alt='bong99' title="Slider 1")
              li
                img(src='images/slider-2.png' width='' height='847' alt='bong99' title="Slider 2")
            .description
              h3.title Mô tả trò chơi
              .line
              p Roulette is a casino game named after a French diminutive for little wheel. In the game, players may choose to place bets on either a single number or a range of numbers, the colors red or black, or whether the number is odd or even.
        #tabs-3
          .content
            .play-now
              img(src='images/casino-3.png' width='' height='152' alt='bong99')
              a(href=""): img(src='images/btn-play-2.png' width='' height='54' alt='bong99')
            ul.casino-bxslider.casino-bxslider-3
              li
                img(src='images/slider-1.png' width='' height='847' alt='bong99' title="Slider 1")
              li
                img(src='images/slider-2.png' width='' height='847' alt='bong99' title="Slider 2")
            .description
              h3.title Mô tả trò chơi
              .line
              p Roulette is a casino game named after a French diminutive for little wheel. In the game, players may choose to place bets on either a single number or a range of numbers, the colors red or black, or whether the number is odd or even.
        #tabs-4
          .content
            .play-now
              img(src='images/casino-4.png' width='' height='152' alt='bong99')
              a(href=""): img(src='images/btn-play-2.png' width='' height='54' alt='bong99')
            ul.casino-bxslider.casino-bxslider-4
              li
                img(src='images/slider-1.png' width='' height='847' alt='bong99' title="Slider 1")
              li
                img(src='images/slider-2.png' width='' height='847' alt='bong99' title="Slider 2")
            .description
              h3.title Mô tả trò chơi
              .line
              p Roulette is a casino game named after a French diminutive for little wheel. In the game, players may choose to place bets on either a single number or a range of numbers, the colors red or black, or whether the number is odd or even.