extends layout
block title
  title Bong99 | Contact
block main
  .container
    .contact-page.page
      h3.title Liên hệ
      .line
      ul.contact-list
        li
          span
            i.iconsp-large-phone
          label 0984.899.899
        li
          span
            i.iconsp-large-phone-2
          label 0983.444.222
        li
          span
            i.iconsp-large-email
          label bong99.com@gmail.com
        li
          span
            i.iconsp-large-facebook
          label facebook.com/mibet
        li
          span
            i.iconsp-large-viber
          label 0984.899.899
        li
          span
            i.iconsp-large-zalo
          label Mibet Pro 2014
        li
          span
            i.iconsp-large-yahoo
          label bong99.hotro
        li
          span
            i.iconsp-large-skype
          label bong99.com
        li
          span
            i.iconsp-large-wechat
          label Mibet Pro 2014
//block footer
//  .footer.footer-2
//    .content
//      a.btn.btn-orange(href="") Download APP
//      ul
//        li
//          a(href="") Giới thiệu &nbsp;&nbsp;|
//        li
//          a(href="") Chính sách &nbsp;&nbsp;|
//        li
//          a(href="") Phiên bản desktop
//    .copyright
//      | 388bet &copy; Copyright 2014.
