extends layout
block title
  title Bong99 | Direct
block header
block main
  .container.direct-page
    .direct-content
      img(src='images/direct-background.jpg' width='' height='' alt='bong99')
      ul
        li: a.btn-orange.btn(href="") Tải APP
        li: a.btn-blue.btn(href="") m.bong99.com
block footer
  .direct-footer
    a(href="") Đến trang desktop đầy đủ