extends layout
block title
  title Bong99 | History
block main
  .container
    .history-page.page
      .header
        a.account(href="")
          i.iconsp-medium-account
          span Mohamad...
        a.transfer(href="")
          i.iconsp-medium-deposit
          span Nạp tiền
          i.iconsp-medium-withdraw
          span Rút tiền
      .history-content
        .bet-history
          h3.title Lịch sử cá cược hàng ngày
          .line
          ul
            li.provider
              span Bong88
            li.accout
              span Chưa có tài khoản
            li.provider
              span Sbonet
            li.accout
              span Chưa có tài khoản
              i.iconsp-medium-question
        .transfer-history
          h3.title Lịch sử giao dịch
          .line
          table
            thead
              tr
                th Ngày
                th 11/06/2014
            tbody
              tr
                th Ngân hàng
                th Vietcombank
              tr
                th Số tiền
                th 3.000.000 VND
              tr
                th Diễn giải
                th Nạp tiền vào Sbobet
          table
            thead
              tr
                th Ngày
                th 22/09/2014
            tbody
              tr
                th Ngân hàng
                th Đông Á Bank
              tr
                th Số tiền
                th 2.500.000 VND
              tr
                th Diễn giải
                th Tạo tài khoản Sbobet với
