extends layout
block title
  title Bong99 | Signin Signup
block main
  .container
    .sport-page
      .sport-background
        img(src='images/banner_sport.jpg' width='' height='226' alt='bong99')
      .sport-description
        p
          a(href='#') &nbspwww.bong99.com&nbsp
          span là trang quản lý giao dịch của trang
          a(href='#') &nbspwww.bongda88.com.&nbsp
          span Mọi đặt cược sẽ được tiến hành tại
          a(href='#') &nbspwww.bongda88.com&nbsp
          span và thanh toán qua
          a(href='#') &nbspwww.bong99.com.&nbsp
          span Đem lại sự tiện lợi và an toàn nhất cho quý khách
      .sport-content
        iframe#iframe(src="http://sports.wrsport.com/_view/RMOdds1.aspx")